/*
Color Palette: 
background color: #FFF5E4
font color: #FF9494
secondary color: #FFE3E1
tertiary color: #FFD1D1  
*/

/* CSS syntax notes:
    selector {property: value;}
*/

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;300;400;700&display=swap');

html {
    font-size: 62.5%;
}

header {
    margin: 0 4rem;
    letter-spacing: 0.8rem;
    text-align: center;
    border-bottom: 1px solid #FFE3E1;
    border-right: 1px solid #FFE3E1;
    border-left: 1px solid #FFE3E1;
    padding: 0.5rem;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 1.1rem;
}

body {
    background-color: #FFF5E4;
    color: #FF9494;
    font-family: 'Arima', sans-serif;
    margin: 0;
}

cite {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    font-style: italic;
}

.imageCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem 4rem;
}

.imageCard img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageCard a {
    text-decoration: none;
    color: #FF9494;
}

.cardText {
    color: #FF9494;
    text-align: center;
    padding: 2rem;
    border-radius: 30px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px){ 
    header {
    font-size: 1.6rem;
    }
    
    .gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .gallery img:hover {
        filter: contrast(200%) brightness(200%) sepia(30%);
        transition: .5s ease;
    }
    
    
    
    .imageCard {
        max-width: 28%;
    }
    
}